<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.user.music">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 添加拨打电话的功能 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 发送短信功能 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ReplenishActivity" />
        <activity android:name=".activity.UploadMusicActivity" />
        <activity android:name=".activity.TabActivity" />
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.MusicPlayerActivity" />
        <activity android:name=".activity.SelectVideoActivity" />
        <activity android:name=".activity.UploadVideoActivity" />
        <activity android:name=".activity.UploadAudioActivity" />
        <activity android:name=".activity.ForgetPwdNextActivity" />
        <activity android:name=".activity.SelectAudioActivity" />
        <activity android:name=".activity.UploadAudioActivity1" />
        <activity android:name=".activity.UploadVideoActivity1" />
        <activity android:name=".activity.ScanActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.ManageSongActivity" />
        <activity android:name=".activity.SongDetailActivity" />
        <activity android:name=".activity.SongActivity" />
        <activity android:name=".activity.RankListActivity" />
        <activity android:name=".activity.NewSongActivity" />
        <activity
            android:name=".SelectPopupWindow"
            android:theme="@style/MyDialogStyleBottom" />
        <activity android:name=".activity.ReverseUserActivity" />
        <activity android:name=".activity.AddSongActivity" />
        <activity android:name=".activity.SingerActivity" />
        <activity android:name=".activity.SingerDetailActivity" />
        <activity android:name=".activity.MyWatchActivity" />
        <activity android:name=".activity.MyWatchDetailActivity"></activity>
    </application>

</manifest>